@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

.covid {
    font-family: 'Poppins', sans-serif;
    border: 1px solid transparent;
    background-color: mediumturquoise;
    color: white;
    padding: 8px;
    text-align: center;
    font-size: 15px;
  }

/*--------------NAVIGATION BAR--------------------*/
nav{
    font-family: 'Poppins', sans-serif;
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 200px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #32620e;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}


/*-----------------------SLIDES--------------------------------*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  height: auto;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  background-color: black;
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: left;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* fOR SMALLER SCREEN */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {font-size: 11px}
}

/*--------------BLOCK 1---------------*/
.block1 {
  box-sizing: border-box;
}

.text1{
  padding-left: 55%;
  padding-right: 5%;
  padding-top: 13%;
}

.text1 p{
  font-family: 'Poppins', sans-serif;
}

.text2{
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  padding-right: 38%;
  padding-top: 8%;
  padding-left: 5%;
}

.column1 {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.row1:after {
  content: "";
  display: table;
  clear: both;
}

/*------------------------SERVICES--------------------*/
.container{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.container .serviceBox{
  position: relative;
  width: 280px;
  height: 280px;
  background: #d0d0d0;
  border-radius: 50px;
  overflow: hidden;
}

.container .serviceBox .icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--i);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition-delay: 0.25s;
}

.container .serviceBox:hover .icon{
  top: 30px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition-delay: 0s;
}

.container .serviceBox .icon ion-icon{
  font-size: 5em;
  color: white;
  transition: 0.5s;
  transition-delay: 0.25s;
}

.container .serviceBox:hover .icon ion-icon{
  font-size: 2em;
  transition-delay: 0s;
}

.container .serviceBox .content{
  position: relative;
  padding: 10px;
  text-align: center;
  margin-top: 100px;
  z-index: 1;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

.container .serviceBox:hover .content{
  transform: scale(1);
  transition-delay: 0.25s;
}

.container .serviceBox .content h2{
  margin-top: 10px;
  margin-bottom: 5px;
}

.container .serviceBox .content p{
  font-weight: 300;
  line-height: 1.5em;
}

#SERVICESS hr {
  width: 92.5%;
  margin-left: 3%;
  margin-right: auto;
}


/*---------------------------ABOUT US-----------------------------*/
  #ABOUTUSS{
    margin-bottom: 40px;
  }

  #team{
    font-size: 40px;
  }

  .youtube{
    border-radius: 20px;
  }

  .column {
    float: left;
    width: 20%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }

  .categories{
    text-align: center;
  }
  
  .container {
    padding: 20px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
    
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }

/*---------------------------FOOTER----------------------------------*/
.footer-distributed {
  font-family: 'Poppins', sans-serif;
  background-color: #244b06;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 25px 50px;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-distributed .footer-right {
  float:right;
  max-width: 180px;
}

.footer-distributed .footer-right a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color: #32620e;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
  transition:all .25s;
}

.footer-distributed .footer-right a:hover{transform:scale(1.1); -webkit-transform:scale(1.1);}

